@charset "utf-8";

/* 심슨 가족 애니메이션 코드 : simpson_ani.css */


/* 트랜스폼 사용법
    y축 회전
    transform: rotateY(각도deg) 
    -> 같은 셋팅
     rotate: y 각도 deg */

/* 1-1. 문짝에 애니메이션 호출적용 */
.door {
  /*
        애니메이션-animation :이시이지반방마 
        animation: door-ani 2s ease-in-out 1s 3 alternate forwards;*/
  animation: door-ani 2s ease-in-out;

  /* 다른방법 _ 연습용  */
  /* alternate는 from-> to 경로 애니를 반대방향도 진행해주는 옵션값임.
        forwards는 애니가 끝나면 처음값으로 돌아가는 기본값( backwards)이 아닌 끝나는 값으로 유지하게 하는 옵션 */
}

/* 1. 문 열기 애니 키프레임 */
@keyframes door-ani {
  0% {
    rotate: y 0deg;
  }
  30% {
    rotate: y 130deg;
  }
  70% {
    rotate: y 130deg;
  }
  100% {
    rotate: y 0deg;
  }
}

/* 2-1 심슨애니호출 설정 */
.simpson {
  /* 애니메이션-animation:이시이지반방마 */
  animation: simpson-ani 5s 0.5s forwards;
}

/* 2-2 심슨 걸어나오기 키프레임 */
@keyframes simpson-ani {
  0% {
    top: 307px;
    left: 358px;
    width: 30px;
  }

  10% {
    top: 313px;
    left: 363px;
    width: 33px;
    rotate: 10deg;
    /* 문짝보다 위 */
    z-index: 1;
  }
  15% {
    top: 320px;
    left: 382px;
    width: 37px;
    rotate: -10deg;
    /* 문짝보다 위 */
    z-index: 1;
  }
  20% {
    top: 324px;
    left: 386px;
    width: 54px;
    rotate: 10deg;
    /* 문짝보다 위 */
    z-index: 1;
  }
  30% {
    top: 325px;
    left: 365px;
    width: 61px;
    rotate: -10deg;
    /* 문짝보다 위 */
    z-index: 1;
  }

  50% {
    top: 338px;
    left: 333px;
    width: 100px;
    rotate: -17deg;
    z-index: 1;
  }
  60% {
    top: 299px;
    left: 302px;
    width: 188px;
    rotate: -3deg;
    z-index: 1;
  }

  80% {
    top: 230px;
    left: 317px;
    width: 250px;
    rotate: 2deg;
    z-index: 1;
  }
  100% {
    top: 160px;
    left: 260px;
    width: 350px;
    rotate: 7deg;
    z-index: 1;
  }
}

/*2.5-1 말풍선 등장하기 애니메이션호출*/
.words{ 
  animation: words-ani 5s 5.2s forwards;
}

/* 2-5-2 말풍선키프레임 */
@keyframes words-ani {

to{opacity: 1;}
  
}

.marge {
    /* 애니메이션_animation: 이시이지반방마 */
    animation:  marge-ani .8s ease-out 5.5s forwards;
}

/* 3-1. 마지 애니메이션 호출설정*/
/* 3-2. 마지 애니키프레임*/
@keyframes marge-ani {
  /* from 혹은 0% 설정이 원본셋팅과 같다면 생략할 수 있다. */

  to /* =100% 와 같음 */ {
    right: -231px;
    rotate: -18deg;
  }
}
/* 4-1.리사심슨 */
.lisa {
    /* 애니메이션_animation: 이시이지반방마 */
    /* 4-1. 리사 애니메이션 호출설정*/
    animation:  lisa-ani .8s ease-out 6s forwards;
}


/* 4-2. 리사 애니키프레임*/
@keyframes lisa-ani {
  /* from 혹은 0% 설정이 원본셋팅과 같다면 생략할 수 있다. */

  to /* =100% 와 같음 */ {
 left:-37px
  }
}
    /* 5-1.메기 */
.maggie {
    /* 애니메이션_animation: 이시이지반방마 */
    /* 4-1. 리사 애니메이션 호출설정*/
    animation: 
    /* 등장애니 */
     maggie-ani .8s ease-out 6.5s forwards,
     /* 업다운애니 */
     maggie-updownani .5s ease-in-out 7.3s infinite alternate,
     /* 왔다갔다애니 */
     maggie-comego-ani 8s 8.5s infinite alternate;
}


/* 5-2-1. 메기 애니키프레임: 등장애니*/
@keyframes maggie-ani {
  /* from 혹은 0% 설정이 원본셋팅과 같다면 생략할 수 있다. */

  to /* =100% 와 같음 */ {
  
    bottom: -93px;
  }
}
/* 5-2-2.. 메기 애니키프레임: 오르락내리락 애니*/
@keyframes maggie-updownani {
  /* from 혹은 0% 설정이 원본셋팅과 같다면 생략할 수 있다. */

  to /* =100% 와 같음 */ {

    translate: 0 5%;
  }}
/* 5-2-3.. 메기 애니키프레임: 왔다갔다 애니*/
@keyframes maggie-comego-ani {
  /* from 혹은 0% 설정이 원본셋팅과 같다면 생략할 수 있다. */

  to /* =100% 와 같음 */ {

   left: 689px;
  }}

.bart{
/* 애니메이션  */
animation: bart-ani .7s ease-out 7s forwards,
/* 바트떨어짐 */
bart-falling-ani .5s ease-in 8.5s forwards,
/* 바트 올라옴 */
bart-up-ani  0.5s ease-in 10s forwards;
 
}


  /* 6-2-1. 바트심슨 키프레임 : 등장애니 */
  @keyframes bart-ani {
    to{ 
      top: -127px;
    }
    
  }
  /* 6-2-2. 바트심슨 키프레임 : 떨어지는 애니 */
   @keyframes bart-falling-ani {
  
    to{
  top: 458px;
  rotate: -36deg    
    }
    
  }
  /* 6-2-3. 바트심슨 키프레임 : 다시 올라오는 애니 */
   @keyframes bart-up-ani {
    to{    
      top: 269px;
    right: 68px;
    width: 286px;
    z-index: 1;
    rotate: -9deg
      
    }
    
  }