@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 외부 CSS합치기 */
@import url(./core.css);
@import url(./reset.css);

body {
  /* 배경이미지 고정형 셋팅 */
  background: #000 url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중표시 */
body * {
  outline: 2px dashed #ccc;
}

/***************************** 1. 상단영역**************************** */

/***************************** 2. 메인영역**************************** */
.main-area {
  padding-top: 150px;
}

/* 로봇박스 */
.robot-box {
  padding-bottom: 600px;
}
/* 로봇머리 */
.robot-head {
  /* 부모자격 - 자식앱솔루트의 부모 !*/
  position: relative;
  width: 250px;
  height: 250px;
    border-radius: 80px 80px 126px 126px;
  /* 무대중앙 */
  margin: 0 auto;
}
/* 가상요소로 로봇 가발만들기 */
.robot-head::after{
    content: '';
    position: absolute;
 top: -82%;
    left: -66%;
    width: 234%;
    height: 191%;
    background: url(../images/hair3.png) no-repeat 0/100% 100%;

}

/* 자식요소 모두 앱솔루트요소만들기 */
.robot-head > div {
  position: absolute;
}
/* 눈 공통 */
.eye {
  top: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px double #000;
  /* 배경공통 */
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 왼눈 */
.eye1 {
 left: 50%;
  translate: -150%;
  background-image: url(../images/eye.png);
}
/* 오른눈 */
.eye2 {
 left: 50%;
  translate: 50%;
  background-image: url(../images/eye.png);
}
/* 코 */
.nose {
top: 119px;
    left: 50%;
    translate: -50%;
    width: 45px;
    height: 40px;
  border-radius: 20px;
  background: #373737;
  /* background: url(../images/nose.jpg) no-repeat 0px 0 / 109% 104%; */
}

/* 입 */
.mouth {
  bottom: 23px;
  left: 50%;
  translate: -50%;
  height: 54px;
  width: 90px;
  background: url(../images/mouth.png) no-repeat center / cover;
}
/* 귀공통 */
.ear {
  top: 92px;
  width: 60px;
  height: 85px;
  z-index: 1;
}
/* 왼귀 */
.ear1 {
  left: -60px;
  border-radius: 30px 0 0 30px;
}
/* 오른귀 */
.ear2 {
  right: -60px;
  border-radius: 0 30px 30px 0;
}

/* 2-1-2. 로봇몸통 */
.robot-body {
  position: relative;
  /* 부모자격 */
  width: 180px;
  height: 320px;
  margin: 0 auto;
  margin-top: 50px;
}

/* 로봇가슴 가상요소로 만들기 */
.robot-body::before{
    content: '';
    position: absolute;
       top: -5%;
    left: -26%;
    width: 153%;
    height: 58%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    background-image: linear-gradient(to bottom, orange,lightyellow);
}


/* 로봇골반 가상요소로 만들기 */
.robot-body::after{
    content: '';
    position: absolute;
     bottom: -5%;
      left: -23%;
    width: 153%;
    height: 58%;
    z-index: 1;
    clip-path: polygon(0% 23%, -6% 25%, 96% 26%, 86% 72%, 49% 134%, 9% 72%);
    background-image: linear-gradient(to bottom, rgb(67, 200, 223),rgb(63, 222, 135));
}



/* 몸통 직계자식요소 모두 앱솔루트 */
.robot-body > div {
  position: absolute;
}

/* 목 */
.neck {
  top: -50px;
  left: 50%;
  translate: -50%;
  width: 50px;
  height: 50px;
}

/* 팔공통 */
.arm {
  top: 0;
  width: 50px;
  height: 160px;
}
/* 팔다리관절 가상요소로 만들기*/
.arm::before, .arm::after,
.leg::before, .leg::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    border: 3px solid #373737;
    /* 사이즈에 보더까지 포함 */
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #ccc, gray);
}
/* 팔다리관절 가상요소 after변경 */
.arm::after, .leg::after{ 
    /* 배경색 그라데이션 방향반대 */
       background-image: linear-gradient(to top, #ccc, gray);
       /* 보더없앰 */
       border: none;
       /*크기 축소: x축 0.7, y축 0.5 */
       scale: .7 .5;

}

/* 왼팔 */
.arm1 {
  left: -65px;
}
/* 오른팔 */
.arm2 {
  right: -65px;
}
/* 팔 하단 */
.arm span{
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 100%;

}

/* 로봇손 가상요소 */
.arm span::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -40%;
    width: 68px;
    height: 112px;
    background: url(../images/hand_left.png)no-repeat 0/100%;
}
/* 오른손 변경 */
.arm2 span::after{
    translate: -57%;
    background: url(../images/hand_right.png) no-repeat 0/100%;}
    

/* 어깨공통 */
.shdr{
    top: -10px;
    width: 80px;
    height: 80px;
    border-radius: 30px;
}
/* 왼어깨 */
.shdr1{
    left: -70px;
}
/* 오른어깨 */
.shdr2{
    right: -70px;
}
/* 다리공통 */
.leg{
    top: 100%;
    width: 75px;
    height: 220px;

}
/* 왼다리 */
.leg1{
    left: 0;
}
/* 오른다리 */
.leg2{
    right: 0;
}

/* 다리하단 */
.leg span{
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 82%;

}

/* 로봇부츠 다리하단 span의 가상요소로 만들기 */
/* 부츠상단 before */
.leg span::before{
  content: '';
  position: absolute;
  top: 30%;
  left: -5%;
  width: 110%;
  height: 80%;
  background-image: linear-gradient(to right, rgb(75, 255, 255), #f54591);
  border-top: 8px solid #000;
}
/* 부츠하단 after */
.leg span::after{
  content: '';
  position: absolute;
 top: 110%;
  left: -20%;
  width: 140%;
  /* 패딩으로 높으값 만들기
  -> 패딩값을 %로 주면 부모박스 가로크기에 한 비율이 생김. */
padding-top: 50%;
  background-image: linear-gradient(to right, rgb(192, 75, 255), #5f45f5);
  border-bottom: 8px solid #000;
border-radius: 50px 50px 0 0;
}


/* TV */
.tv{
    top: 0px;
    left: 50%;
    translate: -50%;
width: 163px;
    height: 110px;
    /* 가상요소보다 위 */
    z-index: 2;
    background: url(../images/tv.jpg)no-repeat 0/100%;
}

.screen{
  position: absolute;
     top: 3px;
    left: 9px;
    width: 115px;
    height: 94px;
    border-radius: 20px;
    background-color: red;
  /* 넘치는 자식요소 숨기기 */
  overflow: hidden;
  } */

    /* 아이프레임 */
    .screen iframe{
      position: absolute;
    top: 0%;
    left: -2px;
    width: 104%;
    height: 102%;
        /*기본 보더 없애기 */
        border: none;
    }
    
    /* 2-2. 설명박스 */
.text-box{
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  background-color: #00000067;
  border-radius: 20px;
  padding: 15px 30px;
  /* 박스 2중 글로우효과(그림자로줌) */
  box-shadow: 
  inset 0 0 20px blue,
  inset 0 0 50px 10px cyan;

  /* 백드롭 블러효과주기 */
  backdrop-filter: blur(6px);
  /* 
  [백드롭 필터효과] 
  - filter속성과 동일한 셋팅을 가지며
  적용대상이 겹쳐지는 하단의 그래픽을 변경한다!

  backdrop-filter: blur(2px); -> 흐림
  backdrop-filter: brightness(60%); -> 밝기
  backdrop-filter: contrast(40%); -> 대비
  backdrop-filter: drop-shadow(4px 4px 10px blue);->그림자
  backdrop-filter: grayscale(30%);-> 흑백
  backdrop-filter: hue-rotate(120deg); -> 색상변경
  backdrop-filter: invert(70%); -> 반전색
  backdrop-filter: opacity(20%); -> 투명도
  backdrop-filter: sepia(90%); -> 세피아효과
  backdrop-filter: saturate(80%); -> 채도

  -> 복합적용 가능!
  backdrop-filter: blur(4px) saturate(150%);
  */
}

/* 2-2-1. 제목 */
.text-box h2{
  /* 스티키 포지션 */
  position: sticky;
  top: 10px;
  /* top값이 고정위치값임! */

  font-family: 'Chakra Petch', sans-serif;
  font-size: 35px;
  text-align: center;
  background-color: #ffffff8d;
  color: lime;
  text-shadow: 2px 2px 2px #0000007b;
  border-radius: 20px;
  /* 기존 두꺼운체 해제 : fwn */
  font-weight: normal;
}
/* 2-2-2. 출처 */
.text-box small{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  text-shadow: 1px 1px 1px #00000077;
  color: #ff0;

  /* 블록으로 변경해야 tac먹힘! */
  display: block;
  text-align: center;
  padding: 10px;
}

/* 2-2-3.내용단락 */
.text-box p{
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.7;
  /* 자간 */
  letter-spacing: 1px;
  /* 단어간격 */
  word-spacing: 2px;

  /* 다단설정하기
    -> 다중열속성
    column-count : 다중열개수
    column-rule : 다중열구분선
    column-gap : 다중열사이간격
  */
  column-count: 3;
  column-rule: 5px dotted lightgreen;
  /* 다중열 구분선 값은 보더와 같음
  -> 두종색! -> 두께 종류 색상 */
  column-gap: 55px;

  /* 양쪽정렬 : justify */
  text-align: justify;
  /* 영문에서 양쪽 정렬일 경우
  단어단위로 줄바꿈이 되므로 중간에
  구멍이 생김. 따라서 단어깨기설정필요! */
  /* 단어깨기 : 모두깨기(break-all) */
  word-break: break-all;

  /* 첫줄 들여쓰기 : text-indent (ti) */
  text-indent: 40px;

}
/* 가상요소 첫글자 적용하기 */
.text-box p::first-letter{
  font-size: 30px;
  font-weight: bold;
  color: hotpink;
}


/************* 4. 하단영역 *************/
