@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 상단 하단 공통모듈 */
@import url(./common.css);

/* 초기화CSS */
@import url(./reset.css);

/* 공통  설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든 것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1. 서브타이틀  */
.sub-title {
  /* (1) 박스디자인 */
  /* 패딩 p40 */
  padding: 40px;
  /* 글자 중앙 tac */
  text-align: center;
  /* 보더 /테두리 bd */
  border: 2px solid #2b5e5f;
  /* 둥근 모서리 bdrs */
  border-radius: 20px;
  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg-> 색이반고윙/ 크기 */
  /* background: url(../images/titbg4.jpg) no-repeat 0 / cover; */

  /* (2) 글자 디자인 */
  /* 글자체 ff */
  font-family: "Diphylleia", serif;
  /* 폰트 사이즈 fz */
  font-size: 30px;

  /*글자 테두리 webtst 
  ->테두리 두께를 더 얇게 하려면 px단위 숫자를 소수점 아래로 쓰면 됨*/
  -webkit-text-stroke: 0.01px darkblue;
  /* 접두어란?
속성앞에 -webkit- 라고 쓰면 
크롬, 사파리 브라우저용 속성임
-ms- 마이크로 소프트
-o- 오페라 브라우저
-moz- 파이어폭스
이 속성은 이미 공식적으로는 아니지만 다른 최신 브라우저에서 사용됨 */
}

/* 각 서브별 타이틀 셋팅변경 */

/* (1) 경제페이지 */
.economics {
  background-image: url(../images/titbg2.jpg);
  color: lightblue;
}
/* (2) 사회페이지 */
.social {
  background-image: url(../images/titbg3.jpg);
  color: lightgreen;
}
/* (3) IT과학페이지 */
.it {
  background-image: url(../images/titbg4.jpg);
  color: lightcoral;
}
/* (4) TV연예페이지 */
.tv {
  background-image: url(../images/titbg5.jpg);
  color: red;
}

/* 2-2. 언론사로고  */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목  */
.arcticle-title {
  font-size: 33px;
}
/* 스페셜박스(추가정보박스) */
.special-box p {
  font-size: 18px;
}
/* 스페셜 제목  */
.special-box h4 {
  /* 왼쪽보더 bl */
  border-left: 3px solid #4f4f4f;
  /* 왼쪽패딩 pl*/
  padding-left: 20px;
  /* 아랫쪽간격 mb */
  margin-bottom: 40px;
}
/* 스페셜 내용 */
.special-box p {
  line-height: 1.7;
}
/* 2-4. 기사사진 및 정보 */
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  /* 박스설정 */
  /* 마진 위아래 20px 양쪽 0 */
  margin: 20px 0;
  text-align: center;

  font-style: 15px;
  color: #777;
}
/* 2-5. 기사내용  */
.contents p {
  /* 글자설정 */
  font-size: 18px;
  /* 줄간격 lh - 숫자값은 글자크기 배수임// 아님 단위를 입력해야함
    보통 1.7 또는 1.8 을 많이 사용*/
  line-height: 1.7;
}

/* mark요소 디자인변화 */
.contents mark {
  /* 박스설정 inline에서 block으로 변경 */
  display: block;
  background-color: #e7e7e7;
  margin: 20px 100px;
  /* 글자설정 */
  font-family: "Diphylleia", sans-serif;
  font-size: 28px;
  color: darkorange;
  text-shadow: 2px 2px 2px #00000073;
  padding: 60px;
  border-bottom: 2px solid #222;
  border-top: 2px solid #222;
}

/* 2-6. 기자정보  */
.reporter {
  font-size: 15px;
  color: #333;
}

/* 2-7. 기사원문  */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a 요소 */
.article-link a {
  /* 디자인 적용 및 부모박스의 문자열 정렬 적용되도록 인라인 블록으로 변경! */
  display: inline-block;
  /* (1) 박스설정 */
  height: 100px;
  width: 100px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  background: beige;
  text-align: center;
  line-height: 100px;
  /* (2) 글자설정 */
  font-family: "Diphylleia", cursive;
  font-size: 20px;
  color: darkblue;
}
/* 버튼 a 마우스 오버시 */
/* -> 가상클래스 : :hover사용! */
.article-link a:hover {
  /* 배경색 bgc */
  background-color: rgb(255, 243, 138);
  /* 박스그림자 bxsh */
  /* box-shadow:  */
  /* inset(내부그림자) X축 y축 블러 (확장) 그림자색; 
    -> 글자 그림자에는 없는 "확장" (spread) 가 있음
    즉 그림자를 크게 만들 수 있음
    그리고 콤마로 설정을 연결하면 여러개의 그림자 사용가능! */

  box-shadow:  
    /* 내부그림자 */ inset 0 0 5px 5px /*확장 */ #74ff6585,
    /* 외부그림자 */ 4px 4px 3px #1a1a1a4d;
}

/* 뉴스 공통 박스 디자인 */
.news-box {
  border-top: 2px dashed #ccc;
  padding: 20px;
  margin-top: 50px;
}
/* 뉴스 공통 제목 디자인 */
.news-box h3 {
  /* display: inline-block; */
  font-size: 25px;
  padding: 15px;
  /* border: 2px solid gray; */
  /* border-radius: 20px;
  background-color: #ededed; */
  /* 배경그라데이션 */
  background-image: linear-gradient(to right, #9d9f41, transparent);
  /* 최대크기 설정 */
  max-width: 300px;
  margin-bottom: 17px;
}

/* 인용블록 박스 */
.quote-box img {
  width: 200px;
  /* float속성을 인라인요소에 사용할 경우 나 자신은 설정한 위치에 오고 다른인라인 요소는 그옆으로 흘러간다.
    여기서 이미지의 글자는 한줄만 옆에 오는데 이미지 높이 만큼 글자가 옆으로 흘러가게 할때 사용한다. */
  float: right;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 8px 8px 7px #00000057;
}

/* 기사 설명 공통 박스 디자인 */
.desc-box {
  /*경계선을 위와 아래만 설정함 */
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  padding: 20px;
  margin-top: 50px;
}
/* 기사 설명 공통 내용박스 디자인 
공통이지만 인용블록은 blockquote이고 주해는 p요소를 쓰고 있으므로 공통은
.desc-box h4 + *
설명: h4요소 다음 형제(+)선택인데 별(*)을 사용하여 어떤 타입이든 모든 선택함!
*/
.desc-box h4 + * {
  font-size: 18px;
  line-height: 1.7;
  /* 양쪽 정렬 */
  text-align: justify;
}

/* 기사 설명 공통 제목 디자인 */
.desc-box h4 {
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #ededed;
  margin-bottom: 17px;
  /* 양쪽 정렬은 text-align: justify 로 설정함! */
  text-align: justify;
}

/* 뉴스공통 a 링크 */
.news-box a {
  /* 말줄임표시 셋팅하기 */
  /* 1. 넘치는 자식요소 숨기기 */
  overflow: hidden;
  /* 2.넘치는 텍스트 말줄임표시 나오게하기 */
  text-overflow: ellipsis;
  /* 3.줄바꿈방지 */
  white-space: nowrap;
  /* 4.말줄임 해당박스는 블록요소로 변경 */
  display: block;
  font-size: 18px;
  line-height: 38px;
}
/* 오버시 가상클래스 :hover */
.news-box a:hover {
  color: rgb(3, 112, 67);
  text-shadow: 2px 2px 1 #00000085;
}

/* 테크뉴스 파트 
가상요소를 사용하여 앞에 아이콘 넣기
앞에 넣기 ::before
뒤에 넣기 ::after
-> 필수 속성 ->>> content 
*/
.tech-news a::before {
  content: " *** ";
}
.tech-news a::after {
  content: ":) ";
}

/* 태크뉴스 a요소 기본 색 변경하기
순서대로 따로 선택하려면 원래 class를 따로주고
그 이름으로 선택하면 되는데 class 이름 주지않고
선택하는 방법은? 가상클래스 중 first-child
같은 가상클래스를 사용한 것!

첫번째 자식-> 선택요소:first-child 
마지막째 자식-> 선택요소:last-child 
n번째 자식-> 선택요소:nth-child(순번숫자) 
-> 주의사항 : 같은 종류의 자식요소로 구성된 경우에만 사용가능하다.
*/
.tech-news li:nth-child(1) a {
  /* .tech-news li:first-child a { */
  color: lightseagreen;
}
/* .tech-news li:last-child a { */
.tech-news li:nth-child(2) a {
  color: lightgreen;
}

/* 랭킹뉴스 박스 */
.rank-news ol {
  /* 리스트 스타일 숫자형으로 다시사용
  ol요소의 기본 auto 스타일은 decimal 즉, 숫자형 */
  list-style: auto;
  /* 기본 왼쪽패딩을 초기화했으므로 다시 조정함 */
  padding-left: 10px;
}

/*

***박스설정 순서*** 
display: ;
width: ;
margin: ;
padding: ;
border: ;
border-radius: ;
text-align: ;
background-color: ;

*/

/* 분야별 뉴스 박스 */
/* dl-dt와 dd의 부모박스 */
.sec-news dl {
  /* 넘치는 자식요소 숨기기
  -> 부가적으로 자식의 float설정이 바깥요소로 나가는 것을 차단한다! */
  overflow: hidden;
}
/* dt-분류타이틀 */
.sec-news dt {
  /* 박스설정 */
  /* display: block; */
  /* 가로크기를 안주고 자동으로 내용만큼 박스크기 잡을때 display를 inline-block으로 했었으나
가로크기를 정할경우 block으로 해도 무방함 */
  width: 80px;

  /* 마진순서: 위 오른 아래 왼 */
  margin: 15px 10px 10px 0;
  padding: 20px;
  border: 3px dashed green;
  /* 원형보더는 값이 50%임!(bdrs50p) (p는 % 줄임말) */
  border-radius: 50%;
  text-align: center;
  background-color: lightgoldenrodyellow;
  /* 타이틀 글자 랩핑방지(글자줄바꿈방지) */
  white-space: nowrap;
  /* dt박스 옆으로 dd가 올라오도록 
나는 왼쪽(left) 너는 오른쪽으로 올라와!
흘러가는 속성 float:left */
  float: left;
  /* 다른블록요소에 영향을 주므로 부모박스인 dl에 overflow:hidden으로 이를 차단한다. */

  /* 글자설정 */
  font-family: "Bagel Fat One", system-ui;
  font-size: 25px;
}

/* 개별적으로 dt를 선택하여 글자, 배경색 바꾸기 
-> 이때 dl은 다른 h3형제 요소와 섞여 있으므로
child선택자가 아닌 of-type */
.sec-news dl:first-of-type {
  color: darkgreen;
}

.sec-news dl:nth-of-type(2) {
  color: rgb(57, 118, 126);
}
.sec-news dl:last-of-type {
  color: rgb(141, 76, 33);
}

/* dd - 용어설명박스 */
/* dd타입중에 첫번째 선택하기 

[자식요소가 여러가지 섞인 경우 선택하기 ]
가상클래스 ...-of type사용
첫번째 타입 -> 요소:first-of-type
마지막 타입 -> 요소:last-of-type
n번째 타입 -> 요소:nth-of-type(순번)
*/
.sec-news dd:first-of-type {
  /* 첫번째 dd를 마진탑을 밀면 아래있는 다른요소도 밀린다. */
  margin-top: 3px;
}
/* 가상요소 아이콘넣기 -> 대상요소::before */
.sec-news dd a::before {
  /* 필수속성 content -> ct */
  content: "👼";
  /* 윈도우 이모지는 윈도우키+콤마(.) */
}

/* 오늘의 작품&느낌 */
.work {
  background-image: linear-gradient(
    -11deg,
    rgb(255, 243, 138),
    #91efbf,
    transparent
  );
  text-align: center;
  padding: 10px 46px 20px;
  /* 박스그림자 :bxsh ( inset 내부그림자 */
  box-shadow: inset 0 0 20px #000000e5;
  /* box-shadow: inset x축 y축 블러 (확장) #색상; */

  /* 최대크기 설정시 부모박스가 그 크기보다 작아지면 auto로 전환하여 크기가 유동적으로 바뀐다
    안그럼 가로 스크롤이 생긴다! */
  max-width: 500px;
  /* 블럭요소 무대 중앙 마영오씨 */
  margin: 0 auto;
  /* 마진 중천의 원리에 따라 작은 마진값이 큰 마진값에 포함됨
    따라서 위에 마진값인 20px보다 더 큰 값을 주면 위아래 박스사이의 실제 마진값이 설정된다. */
  margin-top: 50px;
  border-radius: 20px;
}

/* 포토뉴스 박스 */
.photo-news table {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-collapse: collapse;
}
/* td 비율설정 */
/* 첫번째 td */
.photo-news td:first-child {
  width: 10%;
  text-align: center;
  font-weight: bold;
  background-color: #9d9f41;
}
/* 두번째 td */
.photo-news td:nth-child(2) {
  /* 가로 60%에 옅은 배경 양쪽패딩 20px */
  width: 60%;
  background-color: #c4c58d;
  padding: 0 20px;

}
/* 세번째 td */
.photo-news td:last-child {
   /* 가로 30%에 옅은배경 양쪽패딩 5px */
  width: 30%;
      width: 30%;
    padding: 5px;
    background-color: #c4c58d
}

/* 두번째 tr의 모든 td에 위. 아래 테두리 넣기
 -> 주의사항: 디자인은 항상 td에 한다*/
 .photo-news table tr:nth-child(2) td{
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #fffdfd ;
 }

/* a글자 세팅변경 */
.photo-news a {
  /* 공통뉴스 .news box에서 줄바꿈방지 셋팅했었음 */
  /* 줄바꿈 다시 허용->여러줄 처리시 필요 */

  /* 여러줄 처리 말줄임 셋팅하기 : 5가지!!! */

  white-space: normal;
  /* 1.웹킷용 박스 디스플레이 */
  display: -webkit-box;
  /* 2.넘치는 자식요소 숨기기 */
  overflow: hidden;
  /* 3.넘치는 텍스트 말줄임 설정 */
  text-overflow: ellipsis;
  /* 4. 말줄임 처리 줄수 설정(값 숫자가 처리줄수임 */
  -webkit-line-clamp: 2;
  /* 5. 말줄임 처리 방향설정(라인 진행은 vertical  */
  -webkit-box-orient: vertical;
}

/* 테이블 이미지 */
.photo-news img {
  width: 100%;
  /* 이미지비율강제 설정속성 */
  /* aspect-ratio의 값을 2/1 가로:세로 가 2:! 임 */
  aspect-ratio: 4/3;
}

/* 그라데이션 -> 배경이미지속성에 쓴다.
-> 왜? 예전에 모두 이미지로 만들어서!!!
    [ 선형 그라데이션 : linear-gradient ]
    linear-gradient(방향,색1,색2,...);
    linear-gradient(방향,색1 몇%,색2 몇%,...);
    linear-gradient(각도,색1 몇%,색2 몇%,...);
    - 옵션 : 
    1. 방향: to top, to bottom, to left, to right
    2. 각도: 각도deg
    3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능 */

.work h4 {
  font-family: "Bagel Fat One", system-ui;
  color: lightyellow;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 10px;
  -webkit-text-stroke: 0.8px darkgreen;
}

/* 이미지 */
.work img {
  border: 20px ridge saddlebrown;
  max-width: 100%;
}

/* 작품설명  */
.work figcaption {
  font-family: "Bagel Fat One";
  color: lightyellow;
  font-size: 20px;
  margin-top: 10px;
}

/* 작품명 */
.work cite {
  font-style: normal;
  color: tomato;
}
